@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.box {
  background: url(src/assets/SELFPIC.webp);
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 250px;
  backdrop-filter: blur(10px);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}


.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.orange-pink-gradient {
  background: "#00cea8";
  background: -webkit-linear-gradient(-45.13deg, #fc6767 10.9%, #ec008c 77.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  font-size: 6vh;
  font-family: 'Press Start 2P';
  background: #ffffff; /* fallback for old browsers */
  background: url('https://i.pinimg.com/originals/bd/a2/3a/bda23ae128ae414b1d73c664e0a2e8c5.gif'); /* Chrome 10-25, Safari 5.1-6 */
  background: url('https://i.pinimg.com/originals/bd/a2/3a/bda23ae128ae414b1d73c664e0a2e8c5.gif'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px #a7ff03;
  -webkit-text-stroke: 2px  #00000080; /* adjust as needed */
}

.Name {
  font-size: 7vh;
  font-family: 'Raleway';
  font-weight: 900;
  background: url('https://i.pinimg.com/originals/80/6c/81/806c81d62088c30dda02a30544feac10.gif');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px #73fbfd49;
  -webkit-text-stroke: 2px  #00000080; /* adjust as needed */
}

.rotate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    z-index: -9999;
}
body {
  background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/fe5895176249761.64c16c9007ab2.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.image-wrapper{
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik0zNi4xLC02Mi4xQzQ1LjEsLTU3LjUsNDkuMywtNDQuMiw1OC45LC0zMi40QzY4LjUsLTIwLjYsODMuNSwtMTAuMyw4OC40LDIuOEM5My4yLDE1LjksODcuOCwzMS43LDc2LDM5LjdDNjQuMiw0Ny43LDQ1LjksNDcuNywzMi4xLDUwLjlDMTguNCw1NC4xLDkuMiw2MC41LC0yLjcsNjUuMUMtMTQuNiw2OS44LC0yOS4yLDcyLjgsLTM4LjQsNjdDLTQ3LjYsNjEuMiwtNTEuNSw0Ni42LC01OC43LDM0Qy02NS45LDIxLjMsLTc2LjQsMTAuNywtNzUuMSwwLjhDLTczLjgsLTkuMSwtNjAuNiwtMTguMywtNTMuNiwtMzEuMkMtNDYuNiwtNDQuMSwtNDUuNywtNjAuOCwtMzcuNywtNjZDLTI5LjgsLTcxLjEsLTE0LjksLTY0LjgsLTAuNiwtNjMuN0MxMy42LC02Mi42LDI3LjIsLTY2LjcsMzYuMSwtNjIuMVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  
}

.image{
  -webkit-mask-repeat: no-repeat;
}


.navbar{
  font-family: "Press Start 2P";
  z-index: 9999;
  text-shadow: 0 0 5px #000000, 0 0 10px #227278, 0 0 20px #55BEB8, 0 0 30px #C7ECD7;
}
